.form_container {
  width: 320px;
  background-color: white;
  padding: 15px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 10px 10px rgba(56, 54, 54, 0.2);
  -moz-box-shadow: 0px 5px 10px 10px rgba(56, 54, 54, 0.2);
  box-shadow: 0px 5px 10px 10px rgba(56, 54, 54, 0.2);
}
.form_input {
  border: none;
  background-color: rgba(32, 9, 9, 0.192);
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: 10px;
}

.form_input:hover,
.form_input:focus {
  border: 1px solid rgb(240, 252, 80);
}
.form_label {
  margin-bottom: 20px;
  color: #0a0063;
  padding: 5px;
  height: 80px;
}
.form_button {
  background-color: #330867;
  font-size: 18px;
  color: #00f9f9;
  border: none;
  border-radius: 3px;
  width: 150px;
  height: 30px;
  padding: 5px;
  text-align: center;
  animation: animate_grow 2s infinite;
}
.form_button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 5px 5px rgba(56, 54, 54, 0.2);
  -moz-box-shadow: 0px 5px 5px 5px rgba(56, 54, 54, 0.2);
  box-shadow: 0px 5px 5px 5px rgba(56, 54, 54, 0.2);
  animation: none;
}
@keyframes animate_grow {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
